* {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

body {
  background-color: #FBF9F9;
}

h3{
  color: red;
  
}

p {
  margin: 0!important;
  padding: 0!important;
}

.temp {
  font-size: 32rem;
  position: relative;
}

.dot {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background-color:#CECDCD;
  transform: translateX(4rem);
}
#dot2 {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: 28px solid #000;
  background-color: #CECDCD;
}